/* generel display css */
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

/* fører til akvarie spillet */
.akvarie-knap {
  text-decoration: none;
  font-family: var(--text-body);
  font-size: 1rem;
  font-weight: var(--font-weight);
  letter-spacing: var(--spacing);
  color: var(--text);
  border-radius: 16px;
  background-color: var(--secondary);
  padding: 8px 16px;
  margin-bottom: 32px;
  cursor: pointer;
}

.overlay-titel {
  color: var(--text);
  font-family: var(--font-titel);
  font-weight: 100;
  font-size: 3.5rem;
  z-index: 5;
  padding: 2rem 0;
  margin-top: 2rem;
}

.midte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.bund {
  width: 100%;
}
