.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* fører til akvarie spillet og pubhub appen */
.display-knap {
  text-decoration: none;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: var(--font-weight);
  color: var(--primary);
  border-radius: 16px;
  background-color: var(--secondary-dark);
  padding: 8px 16px;
  margin-bottom: 32px;
  cursor: pointer;
  transition: ease 0.2s;
}

.display-knap:hover {
  transform: scale(1.08);
}

.overlay-titel {
  color: var(--text);
  font-family: var(--font-titel);
  font-weight: 100;
  font-size: 3.5rem;
  z-index: 5;
  padding: 2rem 0;
  margin-top: 2rem;
}

/* tekststykke 1 og analog skitse */
.midt-container {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/* billede af den analoge skitse */
.skitse {
  width: 44%;
  border-radius: 32px;
}

.display-tekst {
  border-radius: 32px;
  background-color: var(--secondary);
  padding: 2.5rem;
  font-size: 1.1rem;
  font-family: var(--font-body);
  line-height: 2;
  width: 50%;
}

/* billederne af den færdige prototype */
.prototype-container {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0 1.5rem;
}

.display-tekst-bund {
  border-radius: 32px;
  background-color: var(--secondary);
  padding: 2.5rem;
  font-size: 1.1rem;
  font-family: var(--font-body);
  line-height: 2;
  width: 50%;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

/* tekststykke 2 og moodboard */
.bund-container {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 4rem;
}

.moodboard-img {
  width: 50%;
  border-radius: 32px;
}
