.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.navne-animation {
  width: 1000px;
  margin: 0 auto;
  margin-top: 8rem;
}

.under-titel {
  color: var(--text);
  font-family: var(--font-body);
  font-weight: var(--font-weight);
  font-size: 1.8rem;
  letter-spacing: var(--spacing);
  display: flex;
  justify-content: center;
}

.projekt-sektion {
  background-color: #b2c2783f;
  height: 800px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kompetence-sektion {
  height: 200px;
  width: auto;
}
