.homepage-container {
  display: flex;
  flex-direction: column;
}

.hero-sektion {
  width: 1000px;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.projekt-sektion {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kompetencer {
  height: 120px;
  width: 100%;
}
