/* Aleo typografi import */
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;500;600;700&display=swap");

:root {
  color: var(--text);
  background-color: var(--primary);

  /*farver*/
  --primary: #ffffff;
  --secondary: #b2c278;
  --text: #000000;

  /*font*/
  --font-titel: "Aleo", serif;
  --font-body: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-weight: 400;
  --spacing: 0.1em;

  min-height: 100%;
  line-height: 1.5;
}
