/* Itim typografi import */
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  color: var(--text);
  background-color: var(--primary);

  /*farver*/
  --primary: #f0e6dc;
  --secondary: #b2c278;
  --secondary-dark: #506916;
  --accent1: #76070d;
  --accent2: #ffedab;
  --text: #000000;

  /*font*/
  --font-titel: "Itim", sans-serif;
  --font-body: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-weight: 400;
  --spacing: 0.1em;

  min-height: 100%;
  line-height: 1.5;
}

/* generelt css */
.titel {
  color: var(--secondary-dark);
  font-family: var(--font-titel);
  font-weight: 400;
  font-size: 4rem;
}

.under-titel {
  color: var(--text);
  font-family: var(--font-body);
  font-weight: var(--font-weight);
  font-size: 1.8rem;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
}

.sektion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
