.billed-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin: 0 4rem;
}

.om-mig-under-titel {
  font-family: var(--font-body);
  font-weight: var(--font-weight);
  font-size: 1.05rem;
}
