.om-mig-sektion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tekst {
  font-family: var(--font-body);
  font-size: 1.2rem;
  width: 800px;
  text-align: center;
}
