.projekt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.knapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 64px;
}

.knap {
  width: 350px;
  height: 350px;
  border-radius: 64px;
  border: none;
}

.knap img {
  width: 350px;
  height: 350px;
  border-radius: 64px;
  border: none;
}
