/* css for ProjektPage.jsx og Projekter.jsx */

.projekt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.knap-sektion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.knap {
  background-color: var(--primary);
  width: 300px;
  height: 300px;
  border-radius: 64px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.knap img {
  width: 200px;
  height: 200px;
  border: none;
}

.knap:hover {
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--primary);
  z-index: 1000;
  overflow-y: auto;
}

.luk-knap {
  position: absolute;
  top: 1rem;
  right: 2rem;
  border: none;
  cursor: pointer;
  background-color: var(--primary);
}

.luk-knap-x {
  font-size: 2rem;
  font-family: var(--font-titel);
}

/* container på ProjektPage siden 
 sørger for at projekterne står i midten af siden */
.container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

/* centrere knapperne og deres tekst med hinanden */
.knap-tekst-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-body);
  font-weight: var(--font-weight);
  letter-spacing: var(--spacing);
  font-size: 1rem;
}
