.container {
  display: flex;
  justify-content: flex-start;
}

.titel {
  color: var(--secondary);
  font-family: var(--font-titel);
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: var(--spacing);
}
